@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .item-nav {
    padding: 16px 32px;
    opacity: 0.5;
    transition: opacity 500ms ease-in;
    cursor: pointer;
  }
  .item-nav:hover {
    opacity: 1;
    color: black;
  }

  .dark .item-nav:hover {
    opacity: 1;
    color: white;
  }
  
  .theme-mode-icon{
    width: 24px;
    height: 24px;
    fill: #27272a;
    opacity: .5;
    transition: opacity 500ms ease-in;
  }
  .theme-mode-icon:hover{
    opacity: 1;
  }
  .dark .theme-mode-icon{
    fill: #d4d4d8;
    opacity: .5;
  }
  .dark .theme-mode-icon:hover{
    opacity: 1;
  }

}
