@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .item-nav {
    padding: 16px 32px;
    opacity: 0.5;
    transition: opacity 500ms ease-in;
    cursor: pointer;
  }
  .item-nav:hover {
    opacity: 1;
    color: black;
  }

  .dark .item-nav:hover {
    opacity: 1;
    color: white;
  }
  
  .theme-mode-icon{
    width: 24px;
    height: 24px;
    fill: #27272a;
    opacity: .5;
    transition: opacity 500ms ease-in;
  }
  .theme-mode-icon:hover{
    opacity: 1;
  }
  .dark .theme-mode-icon{
    fill: #d4d4d8;
    opacity: .5;
  }
  .dark .theme-mode-icon:hover{
    opacity: 1;
  }

  /* 'w-44 h-14 border-2 text-black dark:text-white text-xl border-zinc-300 dark:border-zinc-800 rounded-3xl shadow-sm flex items-center justify-center gap-x-2 mt-10 font-semibold */
  .common-style-item{
    border-width: 2px;
    border-color: rgb(212 212 216);
    color: black;
    border-radius: 24px;
    font-weight: 600;
  }

  .dark .common-style-item{
    color: white;
    border-color: rgb(39 39 42);
  }

  /* .animation-button-talk {
    margin: 0 auto;
    position: relative;
    position: absolute;
    animation: slideUp 0.5s forwards;
  }
  
  @keyframes moveUpDown {
    0% {
      transform: translateY(0%);
    }
    25% {
      transform: translateY(-25%);
    }
    50% {
      transform: translateY(-50%);
    }
    75% {
      transform: translateY(-75%);
    }
    100% {
      transform: translateY(-100%);
    }
  } */

}
