@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .theme-mode-icon {
    width: 24px;
    height: 24px;
    fill: #27272a;
    opacity: 0.5;
    transition: opacity 500ms ease-in;
  }
  .theme-mode-icon:hover {
    opacity: 1;
  }
  .dark .theme-mode-icon {
    fill: #d4d4d8;
    opacity: 0.5;
  }
  .dark .theme-mode-icon:hover {
    opacity: 1;
  }

  .item-nav {
    padding: 16px 32px;
    opacity: 0.6;
    transition: opacity 500ms ease-in;
    cursor: pointer;
    border-radius: 30px;
  }

  .dark .item-nav {
    opacity: 0.8;
  }

  .item-nav:hover {
    opacity: .8;
    color: black;
  }

  .dark .item-nav:hover {
    opacity: 1;
    color: white;
  }

  .active {
    border: 1px solid #a1a1aa;
    border-radius: 30px;
    opacity: 1 !important;
    color: black;
    transition: border 700ms ease-in !important;
  }

  .dark .active {
    border: 1px solid #9a9aa3;
    border-radius: 30px;
    opacity: 1 !important;
    color: white;
  }

  .common-style-item {
    border-width: 2px;
    border-color: rgb(212 212 216);
    color: black;
    border-radius: 24px;
    font-weight: 600;
  }

  .dark .common-style-item {
    color: white;
    border-color: rgb(39 39 42);
  }
}
